<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>       
    
    <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="Threads" value="10"/>
    <add key="Database" value="LI_PARSE\DATA"/>
    <add key="Query1" value="Select Table_Name, Count(*) As ColumnCount From Information_Schema.Columns where Table_Name &lt;&gt; 'segment_table_names' and Table_Name like '%_KBM' and TABLE_NAME not like '%export%' and TABLE_NAME not like '%_counts' and TABLE_NAME not like 'descriptions' Group By Table_Name having Count(*) = 1 Order By Table_Name"/>
    <add key="Query2" value="SELECT top 10 b.pf_id from segment_taxonomy..TABLENAME a with (nolock) join liveramp_export_2016_10..pfdaas_data_export_main_2016_10 b with (nolock) on a.md5 = b.md5"/>
  </appSettings>
</configuration>
