<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>       
    
    <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="Threads" value="12"/>
    <add key="Database" value="LI_PARSE\DATA"/>
    <add key="Query1" value="Select Table_Name, Count(*) As ColumnCount From Information_Schema.Columns where Table_Name &lt;&gt; 'segment_table_names' and Table_Name like '%_KBM' Group By Table_Name having Count(*) between 1 and 3 Order By Table_Name"/>
    <add key="Query2" value="SELECT count(*) from segment_taxonomy..TABLENAME a with (nolock) join liveramp_export_2016_10..pfdaas_data_export_main_2016_10 b with (nolock) on a.md5 = b.md5"/>
    <add key="Query3" value="insert into liveramp_export_2016_10..pf_counts (table_name, count) values (TABLENAME, TABLECOUNT)"/>
  </appSettings>
</configuration>
