<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>       
    
    <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="Threads" value="10"/>
    <add key="Database" value="192.168.99.79\DATA"/>
    <add key="Query1" value="Select Table_Name, Count(*) As ColumnCount From Information_Schema.Columns where Table_name like 'pf_%' Group By Table_Name having Count(*) = 1 Order By Table_Name"/>
    <add key="Query2" value="SELECT pf_id from segment_taxonomy..TABLENAME nolock"/>
  </appSettings>
</configuration>
